/* Stylesheet for index */

*{
    color: white;
}

/* Background Image */

body{
    background-image:url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

div.header-img{
    width: 100%;
    background-color: #666;
    overflow: hidden;
    position: fixed;
}

#header-img{
    width: 300px;
    margin: auto;
    display: block;
}