/* Stylesheet for about */

*{
    color: #f2f2f2;
}

body{
    background-image:url("../assets/background4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

div.header-img{
    width: 100%;
    background-color: #666;
    overflow: hidden;
    position: fixed;
}

#header-img{
    width: 300px;
    margin: auto;
    display: block;
}

div.nav-bar{
    overflow: hidden;
    position: fixed;
    background-color: #666;
    width: 100%;
    top: 90px;
}

.nav-link{
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    padding: 14px 40px ;
    float: right;
    transition: background .5s ease;
}

.nav-link:hover{
    background-color: #1DB954;
    color: black;
}

.title{
    margin-top: 220px;
    font-size: 80px;
    color: #1DB954;
    text-align: center;
}